<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News & Map - a web App</title>
  </head>
  
  <body>


<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Kellogg Recipe Project</h1>
  <p>Connect with your classmates through their authentic recipes from across the world!</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Kellogg Recipe Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>    
    </ul>
  </div>  
</nav>


<div class="container-fluid">
<div class="row">
    <form action="/signup/create" method="post">  
        
        <div class="form-group">
            <label for="namefirst">First Name:</label>
            <input type="text" class="form-control" placeholder="First name" name="namefirst">
        </div>

        <div class="form-group">
            <label for="namelast">Last Name:</label>
            <input type="text" class="form-control" placeholder="Last Name" name="namelast">
        </div>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="j.doe@example.com" name="email" id="email">
        </div>
        
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" name="pwd" id="pwd">
        </div>
            
        <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
    
    </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Kellogg Recipe Project</p>
</div>
</div>