h1 {    
    color:darkslateblue;
    font-family: Helvetica;
    border: 0px;
}
h2 {
    color:black;
    font-family: Helvetica;
    border: 0px;
    text-align: center;
}
h3 {
    color:darkslateblue;
    font-family: Helvetica;
    border: 0px;
    }
h4 {
    color: darkslateblue;
    outline: black;
    font-family: Helvetica;
}
#log_in {
    border: 1px solid black;
    width: 200px;
    padding: 10px;
}
p {
    color: darkslateblue;
    font-family: 'Courier New', Courier, monospace;
}
.dietary {
    background-color: lightsalmon;
    color: white;
    padding: 10px;
}

img {
  width: 100%;
  height: auto;
}